{% load blog_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\blog.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id='content'>
        {% block content %}{% endblock %}
    </div>
    <div id='sidebar'>
        <h2>This is my blog</h2>
        <p>I have written total {% total_posts %} posts</p>
        {% show_latest_posts 3 %}
        {% show_most_commented_posts 3 %}
    </div>
</body>
</html>